<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Trail</title>
<style>
    body{
        background-image: url("static/img/view.png");
        height: 1000px;
        background-repeat: no-repeat; 
        background-size: cover;
      }
      .container{
        margin-top: 50px;
      }
</style>

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="div-inline">
            <a class="navbar-brand" href="/">A Path to Peace</a>
                <a href="/mytracks" class="btn btn-outline-info" tabindex="-1" role="button">My Tracks</a>
                <a href="/trails" class="btn btn-outline-info" tabindex="-1" role="button">Trails</a>
                <a href="/events" class="btn btn-outline-info" tabindex="-1" role="button">Events</a>
                <a href="/rest_bar" class="btn btn-outline-info" tabindex="-1" role="button">Resturants</a>
            </div>
        <div>
            <a href="/loginpage" class="btn btn-outline-info" tabindex="-1" role="button">Sign Up</a>
            <a href="/loginpage" class="btn btn-outline-info" tabindex="-1" role="button">Login</a>
        </div>
    </nav>
    <div class="mx-auto" style="width: 990px;">
        <h1 class="display-1">Choose a Path to Walk</h1>
        <img src="static/img/maps.png" alt="map" width="900px;" height="300px;">
    </div>



      
<div class="container">
    <form action="/static/img/map.png">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Beginner</h4>
            </div>
        <div class="card-body">
            <p>Slow and steady wins the race. Enjoy this beautiful trail in 9 sections, each 3 mile increments. Stop at the loacl hot spots for a break!</p>
            <button type="sumbit" class="btn btn-lg btn-block btn-outline-primary">Print Map</button>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Intermediate</h4>
        </div>
        <div class="card-body">
            <p>Looking for a little more physical activity? Here you can walk the trail in 3 sesction, each 9 mile increments. Don't worry about missing out of the loacl eataries, the ocean views are just as delightful.</p>
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Print Map</button>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Advanced</h4>
        </div>
        <div class="card-body">
            <p>Got a lot on your mind lately? Well walk or run it off with this intense 27 mile trail. Filled with breath taking views, good company you can achieve anything after a trail like this!</p>
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Print Map</button>
        </div>
    </div>
    </form>
</div>

   

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2019 J.K., Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>